Screen {
    layout: vertical;
    background: $panel-bg;
}

#panel-container {
    layout: horizontal;
    height: 1fr;
}

FileBrowserPanel {
    width: 1fr;
}

StatusBar {
    dock: bottom;
    height: 1;
}

AppHeader {
    dock: top;
    height: 1;
    background: $pathbar-active-bg;
    color: $pathbar-active-fg;
    text-align: center;
}
